In [1]:
import pandas as pd

In [36]:
d2 = pd.read_csv('/Users/macbook/Untitled Folder/earthquakes.csv')
d2.head(n=3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...

In [38]:
d2.time = pd.to_datetime(d2.time,unit='ms')
d2['time'].unique

<bound method Series.unique of 0      2018-10-13 23:59:28.010
1      2018-10-13 23:58:49.610
2      2018-10-13 23:57:42.610
3      2018-10-13 23:56:18.070
4      2018-10-13 23:51:56.050
                 ...
9327   2018-09-18 00:23:48.060
9328   2018-09-18 00:22:15.130
9329   2018-09-18 00:18:28.180
9330   2018-09-18 00:12:25.350
9331   2018-09-18 00:01:04.470
Name: time, Length: 9332, dtype: datetime64[ns]>

In [50]:
d2.shape

(9332, 26)

In [37]:
#1
len(d2[(d2['magType'] == 'ml') & (d2['type'] == 'explosion')])

79

In [43]:
#2.
e2 = d2.mag[(d2.place.str.contains('Alaska'))&~(d2.place.str.contains('\d{3,}',regex=True))].mean()
e2

1.3744199088678577

In [44]:
#3.
e3_q1=d2.mag[(pd.DatetimeIndex(d2['time']).month>=1)&(pd.DatetimeIndex(d2['time']).month<=3)].mean()
e3_q1

nan

In [45]:
e3_q2=d2.mag[(pd.DatetimeIndex(d2['time']).month>=4)&(pd.DatetimeIndex(d2['time']).month<=6)].mean()
e3_q2

nan

In [47]:
e3_q3=d2.mag[(pd.DatetimeIndex(d2['time']).month>=7)&(pd.DatetimeIndex(d2['time']).month<=9)].mean()
e3_q3

1.466735124760082

In [48]:
e3_q3=d2.mag[(pd.DatetimeIndex(d2['time']).month>=10)&(pd.DatetimeIndex(d2['time']).month<=12)].mean()
e3_q3

1.5360446493569568

In [49]:
pd.DatetimeIndex(d2['time']).month.value_counts()

9     5211
10    4121
Name: time, dtype: int64